@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*,
html,
body {
    background: rgb(25, 25, 25);
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: white;
    box-sizing: border-box;
}

#box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 0 1 100%;
}

@media screen and (max-width: 360px) {
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

img {
    width: 196px;
    height: 54px;
}

@media screen and (max-width: 360px) {
    img {
        max-width: 60%;
    }
}

header {
    align-content: center;
    text-align: center;
    padding: 8px 8px;
}


/*LEFT PANEL*/

#navbar {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    height: 100%;
    padding: 0;
    border-right: solid;
    border-color: gray;
    position: fixed;
}

@media screen and (max-width: 360px) {
    #navbar {
        flex-basis: 100%;
        margin: 0 auto;
        border-right: none;
        position: fixed;
        width: 100%;
        height: auto;
    }
}

.nav-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: rgb(31, 205, 228);
    color: white;
    width: 100%;
    flex-basis: 25%;
}

@media screen and (max-width: 360px) {
    .nav-link {
        flex-basis: 100%;
        justify-content: center;
        width: 100%;
    }
}

a {
    align-items: center;
    text-align: center;
    border-bottom: 2px solid gray;
    text-decoration: none;
    height: 40px;
    cursor: pointer;
    width: 100%;
}

@media screen and (max-width: 360px) {
    a {
        top: 265px;
        height: 20px;
        border-bottom: 1px solid gray;
    }
}


/*MAIN*/


/*RIGHT PANEL*/

main#main-doc {
    /* display: flex; */
    padding: 0px;
    justify-content: flex-end;
    flex-basis: 75%;
    text-align: justify;
    margin-left: 230px;
    /* width: 80%; */
    width: 75vw;
}

@media screen and (max-width: 360px) {
    main#main-doc {
        /* display: flex; */
        padding-top: 266px;
        border-top: 266px;
        flex-basis: 100%;
        margin-left: 4px;
        width: 98%;
        color: green;
    }
}

#main-section {
    flex-direction: column;
    top: 400px;
}

@media screen and (max-width: 360px) {
    #main-section {
        top: 400px;
    }
}

code {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background: rgba(5, 17, 124, 0.822);
    color: rgb(8, 255, 8);
    width: 96%;
    padding-right: 20px;
}

@media screen and (max-width: 360px) {
    code {
        width: 94%;
    }
}

#foot {
    font-family: "Courier New", Courier, monospace;
    text-align: right;
}